<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="application-name" content="Populate">
	<meta name="viewport" content="initial-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="apple-mobile-web-app-title" content="Populate">
	<title>Populate</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" media="screen">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
	<script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/styles.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
	<!-- <link rel="icon" type="image/png" href="{{ STATIC_URL }}img/icon.png"> -->
	<!-- <link rel="apple-touch-icon-precomposed" type="image/png" href="{{ STATIC_URL }}img/icon.png"> -->
</head>
<body>
	<nav class="navbar navbar-default navbar-static-top" role="navigation">
		<br>
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Populate</a>
		</div><!-- navbar-header -->
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			{% if user.is_authenticated %}
			<ul class="nav navbar-nav navbar-right">
				<li class="navbar-text">{{ user }}</li>
				<li><a href="{% url 'articles:readability_login' %}">Import Readability Articles</a></li>
				<li><a href="{% url 'articles:logout' %}">Logout</a></li>
			</ul>
			{% else %}
			<ul class="nav navbar-nav navbar-right">
				<li><a href="{% url 'articles:twitter_login' %}"><img src="{{ STATIC_URL }}img/sign-in-with-twitter-gray.png" alt="Sign in with Twitter"></a></li>
			</ul>
			{% endif %}
		</div><!-- navbar-collapse -->
	</nav>
	<div class="container">
		<div class="row">
			{% if messages %}
				{% for message in messages %}
				<div class="text-center alert {% if message.tags %}{{ message.tags }}{% endif %} alert-dismissable fade in col-md-4 col-md-offset-4">
					<button type="button" class="close" aria-hidden="true" data-dismiss="alert">&times;</button>
					{{ message }}
				</div>
				{% endfor %}
			{% endif %}
		</div>
		<table class="table table-hover">
			<caption>Readability Bookmarks</caption>
			<thead>
				<tr>
					<th>Title</th>
					<th>Author</th>
					<th>Source</th>
					<th>Conversation</th>
				</tr>
			</thead>
			<tbody>
				<!-- {% for link in twitterLinks %} -->
				<!-- 	<a href="{{ link }}">Find Relevant Tweets</a> -->
				<!-- {% endfor %} -->
				{% for bookmark in bookmark_list %}
				<tr>
					<td><a href="{{ bookmark.url }}">{{ bookmark.title }}</a></td>
					<td>{{ bookmark.author }}</td>
					<td>{{ bookmark.domain|urlize }}</td>
					<td><a href="{{ bookmark.twitterLink }}">Twitter</a></td>
					<td><a href="{{ bookmark.ideoLink }}">OpenIDEO</a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</body>
</html>
