<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="application-name" content="Populate">
	<meta name="viewport" content="initial-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="apple-mobile-web-app-title" content="Populate">
	<title>Populate</title>
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" media="screen">
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
	<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/styles.css">
	<!-- <link rel="icon" type="image/png" href="{{ STATIC_URL }}img/icon.png"> -->
	<!-- <link rel="apple-touch-icon-precomposed" type="image/png" href="{{ STATIC_URL }}img/icon.png"> -->
</head>
<body>
	<nav class="navbar navbar-default navbar-static-top" role="navigation">
		<br>
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Populate</a>
		</div><!-- navbar-header -->
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav">
				<li><a href="{% url 'articles:auth' %}">Authorize Services</a></li>
			</ul>
		</div><!-- navbar-collapse -->
	</nav>
	<div class="container">
		<table class="table table-hover">
			<caption>Readability Bookmarks</caption>
			<thead>
				<tr>
					<th>Title</th>
					<th>Author</th>
					<th>Source</th>
					<th>Conversation</th>
				</tr>
			</thead>
			<tbody>
				<!-- {% for link in twitterLinks %} -->
				<!-- 	<a href="{{ link }}">Find Relevant Tweets</a> -->
				<!-- {% endfor %} -->
				{% for bookmark in bookmark_list %}
				<tr>
					<td>{{ bookmark.title }}</td>
					<td>{{ bookmark.author }}</td>
					<td>{{ bookmark.domain }}</td>
					<td><a href="{{ bookmark.twitterLink }}">Twitter</a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</body>
</html>
